<form [formGroup]="formCajaDeValores">
    <div formArrayName="cajasDepositarias">
      <div *ngFor="let identif of cajasDepositarias.controls; let indice=index" class="container">      
        <div [formGroupName]="indice">
          <div class="contenedorElemento">
            <label>Caja de valores</label>
          </div>
          <div class="contenedorElemento">
            <input formControlName="id" type="text" placeholder="ID">
          </div>
          <div class="contenedorElemento">
            <select formControlName="cajaRealDeposito">
              <option *ngFor="let caja of cajaRealDepositoRowset" [value]="caja.codigo">{{ caja.descripcion }}</option>
            </select>      
          </div>
          <div class="contenedorElemento">
            <input [value]="true" name="principal" type="radio" formControlName="principal" [checked]="indice == 0">
          </div>
          <div class="contenedorElemento">
            <app-my-button [name]="filaEstaEnEdicion(indice) ? 'Editar' : 'Guardar'"
              (click)="enviarDatosFila(indice)"
            ></app-my-button>
          </div>
          <div class="contenedorElemento">
            <div *ngIf="filaEstaEnConfirmacion(indice); then back else trash"></div>
            <ng-template #back>
                <app-my-button name="Back"
                (click)="retrocederCambios(indice)"
              ></app-my-button>  
            </ng-template>
            <ng-template #trash>
                <app-my-button name="Eliminar"
                (click)="eliminarFila(indice)"
              ></app-my-button>  
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="sub">
      <app-my-button name="Add" (click)="agregarItem()"></app-my-button>
    </div>
    
  </form>
  
  <button (click)="debugLista()">DEBUG</button>
  <div class="error" *ngIf="errorPorIntentarAgregarExistente">
    ERROR AGREGAR EXISTENTE
  </div>

  <div class="error" *ngIf="errorPorIntentarEliminarCajaPrincipal">
    ERROR ELIMINAR PRINCIPAL
  </div>
  