<form [formGroup]="formSection1">

  <div class="form-container">
      <input [class.inputError]="nombre.invalid && nombre.touched" type="text" placeholder="Nombre" formControlName="nombre">
      <div class="error" *ngIf="nombre.invalid && nombre.touched">Campo obligatorio</div>
  </div>  

  <div class="form-container">
    <input [class.inputError]="apellido.invalid && apellido.touched" type="text" placeholder="Apellido" formControlName="apellido">
    <div class="error" *ngIf="apellido.invalid && apellido.touched">Campo obligatorio</div>
  </div>

</form>
