<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <!-- Image and text -->

    <!-- <a class="navbar-brand" href="#"> -->
    <img src="/assets/img/sushi_PNG9267.png" width="40" height="40" class="d-inline-block align-top" alt="">
    <h2 class="navbar-brand" style="padding-left:10px">Satori Sushi</h2>
    <!--</a>-->

    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <!-- aca empiezan los items de la navbar-->

            <li class="nav-item active" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['productos']">Productos</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['contactenos']">Contactenos</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['extras']">Extras</a>
            </li>
            <!-- aca empiezan los items del menu desplegable del navbar <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" [routerlink]="['home']" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Dropdown
          </a>
                 
                 <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>-->
        </ul>

    </div>

    <div style="align-content: flex-end">
        <p style="color:aliceblue; margin-bottom: 0px">
            4254-3563
        </p>
        <p style="color:aliceblue; margin-bottom: 0px">
            +541134679461
        </p>
    </div>

</nav>