
<div class="container">
  <div class="contenedorElemento">
    <select name="categorias" id="categorias" [(ngModel)]="categoriaSeleccionada" (change)="enviarCategoria()">
      <option *ngFor="let categ of categoriasEspecies" 
        [value]="categ.codigo"        
      >{{ categ.descripcion }}</option>
      <option [value]="getNuevaCategoria()">Nueva categoria</option>
    </select>
  </div>

  <div class="contenedorElemento">
    <select name="tipos" id="tipos" 
      [(ngModel)]="tipoSeleccionado" 
      (change)="enviarTipoYCategoria()"
      [disabled]="deshabilitarTipo"
    >
      <option *ngFor="let tip of tiposEspecies"
        [value]="tip.codigo"
      >{{ tip.descripcion }}</option>
    </select>
  </div>

  <div class="contenedorElemento">
    <select name="especies" id="especies" 
      [(ngModel)]="especieSeleccionada"
      [disabled]="deshabilitarEspecies"
    >
      <option *ngFor="let esp of especiesEncontradas"
        [value]="esp.codigo"
      >{{ esp.descripcion }}</option>
    </select>
  </div>

  <div class="contenedorElemento">
    <app-my-button
      name="Continuar"
      [disabled]="deshabilitarEspecies || deshabilitarTipo"
      (click)="enviarEspecie()"
    ></app-my-button>
  </div>
  
</div>
