<div class="container">
    <div id="TitNuestProd">
        <h1>Nuestros Productos:</h1>
    </div>

    <div class="card-columns">
        <div class="card" *ngFor="let roll of rolls">
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                <div class="card-header">Rolls</div>
                <img src="{{roll.img}}">
                <div class=" card-body ">
                    <h5 class="card-title ">{{roll.nombre}}</h5>
                    <p class="card-text ">{{roll.descripcion}}</p>
                </div>
            </div>

            <!-- falta mostrar las cartas ordenadas, que aparezcan las imagenes, lo del titulo -->


        </div>
    </div>