<p>
    productos works!

</p>

<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Rolls</div>
    <div class="card-body">
        <h5 class="card-title">Dark card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="col">

    <h1>Nuestros Productos:</h1>
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Niguiri</div>
        <div class="card-body">
            <h5 class="card-title">Sushi</h5>
            <p class="card-text">{{sushi.descripcion}}</p>
            <p class="card-text">precio: {{sushi.precio}}</p>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">

        <div class="card-body">
            <h5 class="card-title">Dark card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>