
.form-container {
    display: block;
    height: 50px;
    width: 300px;
}

input {
    width: 300px;
    height: 20px;
}

input[type="checkbox"] {
    width: 20px;
}

.form-check-container {
    display: block;
    height: 50px;
}

.inputCheck {
    top: 5px;
    position: relative;
}

.inputError {
    border-color: red
}

.error {
    display: inline-block;
    color: red;
    font-family: 'Times New Roman', Times, serif;
}

.noValid {
    cursor: not-allowed;
}