<form [formGroup]="form1Test" (ngSubmit)="sendFormData()">

  <div class="form-container">
      <input [class.inputError]="nombre.invalid && nombre.touched" type="text" placeholder="Nombre" formControlName="nombre">
      <div class="error" *ngIf="nombre.invalid && nombre.touched">Campo obligatorio</div>
  </div>  

  <div class="form-container">
    <input [class.inputError]="apellido.invalid && apellido.touched" type="text" placeholder="Apellido" formControlName="apellido">
    <div class="error" *ngIf="apellido.invalid && apellido.touched">Campo obligatorio</div>
  </div>

  <div class="form-container">
    <input [class.inputError]="descripcion.invalid && descripcion.touched" type="text" placeholder="Descripcion" formControlName="descripcion">
    <div class="error" *ngIf="descripcion.invalid && descripcion.touched">Campo obligatorio</div>
  </div>

  <div class="form-check-container">
    <label for="checkValidate">Aplicar Validacion</label>
    <input id="checkValidate" type="checkbox" class="inputCheck" [value]="true" formControlName="validacion">
  </div>

  <button type="submit" [class.noValid]="fieldsInvalid" [disabled]="nombre.invalid || apellido.invalid || descripcion.invalid">Enviar</button>

  <button type="button" (click)="resetFormValues()">Reset form</button>
</form>
